[Unit]
Description=TrigaServer
After=network.target

[Service]
EnvironmentFile=/etc/trigaserver.conf
ExecStart=${CMAKE_INSTALL_BIN}/usr/local/bin/trigaserver --SPU_CHA $SPU_CHA --SPU_CHB $SPU_CHB --PLC_ADRESS $PLC_ADRESS --PLC_CONV_FILE $PLC_CONV_FILE --PORT_CSV $PORT_CSV  --INTERVAL_ERROR_SPU $INTERVAL_ERROR_SPU --INTERVAL_ERROR_PLC $INTERVAL_ERROR_PLC --INTERVAL_MONITOR $INTERVAL_MONITOR
Restart=always
User=trigauser

[Install]
WantedBy=multi-user.target
